* {
  background-color: bisque;
}
body {
  height: 100%;
}
.scores {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.startCenter {
  text-align: center;
}
main {
  text-align: center;
}
ul {
  list-style-type: none;
}
h4 {
  margin: 5px;
}
h2 {
  text-align: center;
}
footer {
  bottom: 5px;
  width: 100%;
  text-align: center;
}
